//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

// Variables
// ?Colors
$white: #fff;
$black: #000;
$dark_blue: #243238;
$Medium_blue: #2d394b;
$brigth_blue: #04B2D9;
$grey: rgba(249, 249, 249, 0.5);
$opaque_blue: #5e83ba;
$brigth_blue: #04B2D9;
$background: #243E64;
$second-background: hsla(216, 47%, 27%, 0.5);
$grey-login: rgba(249, 249, 249, 0.2);

// ?Letter Size
$large: 2rem;
$medium: 1.8rem;
$small: 1.6rem;
$x-small: 1.2rem;

//?Text
$text: 1rem;
$text_small: .8rem;

// ?Fonts
$fonts: 'Fira Mono', monospace;
$size: 62.5%;