@mixin horizontalPosition{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin finalHorizontalPosition{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@mixin verticalPosition{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}