.total {
  &__container {
    width: 140px;
    height: 35px;
    border: 1px solid $background;
    color: $background;
    font-size: $text_small;
    font-weight: 700;
    background: $white;
    border-radius: 5px;
    @include horizontalPosition;
    gap: 5px;
  }
}