:root {
    /*COLORS*/
    --dark_blue: #04081B;
    --blue: #041B41;
    --light_blue_fondo: RGBA(36,62,100,0.5);
    --light_blue: RGBA(36,62,100,1); /*243E64*/
    --opaque-blue: #283C54;
    --grey_: #24242E;

    /*LETTER SIZE */
    --title_text: 3.6rem;
    --label_text: 1.8rem; /*Tambien para botones*/
    --input_text:1.4rem; /*Tambien para tablas*/
    --checkbox_text:1.2rem;
    --table_minimoun_text:1rem;
}
* {
    box-sizing: border-box;
    margin:0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
    font-family: 'Fira Mono', monospace;   
}
body{
    width: 100%;
    height: 100vh;
    background: url(../../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;         
    display: flex;        
    justify-content: center;     
}
.container{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,300px);
    gap: 12px;
    align-self: center;
}
.container_card{
    background: var(--light_blue_fondo);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
}
.container_cardGrande{
    grid-area: 1 / 1 / 3 / 3;
}
.container_card--titulo{
    color: white;
    font-size: var(--label_text);
}
.container_card--img{
    object-fit: contain;
    width: 60%;
    height: 60%;
}

@media(max-width: 806px) {
    .container{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,100px);
        gap: 12px;
        align-self: center;
    }
    .container_cardGrande{
        grid-area: 1 / 1 / 3 / 3;
    }
    .container_card--img{
        object-fit: contain;
        width: 60%;
        height: 60%;
    }
}

