:root {
    /*COLORS*/
    --dark_blue: #04081B;
    --blue: #041B41;
    --light_blue_fondo: RGBA(36,62,100,0.5);
    --light_blue: RGBA(36,62,100,1); /*243E64*/
    --opaque-blue: #283C54;
    --grey_: #24242E;
    --white: #fff;

    /*LETTER SIZE */
    --title_text: 3.6rem;
    --label_text: 1.8rem; /*Tambien para botones*/
    --input_text:1.4rem; /*Tambien para tablas*/
    --checkbox_text:1.2rem;
    --table_minimoun_text:1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Fira Mono', monospace;
}
body{
    background: url(../../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title_principal{
    font-size: var(--title_text);
    color: var(--white);
    align-self: center;
    margin: 24px 0 24px 0;
}

.submit{
    width: 200px;
    height: 40px;
    border: 1px solid var(--blue);
    border-radius: 5px;
    background: var(--light_blue) ;
    color: var(--white);
    font-size: var(--label_text);
    transition: .3s linear;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.submit:hover{
    cursor: pointer;
    color: var(--blue);
    background: var(--white);
}

.submit:hover {
    cursor: pointer;
    background: var(--white);
    color: black;
}

.overflow{
    width: 1160px;
    height: 440px;
    overflow: auto;
}

.overflow_table{
    width: 1150px;
    margin-top: 40px;
}

.overflow_table--PrincipalrRow{
    background: var(--white);
    height: 40px;
}

.overflow_table--rows--title{
    font-size: var(--input_text);
}

.overflow_table--rows{
    background:var(--opaque-blue);
    height: 40px;
}

.overflow_table--rows:nth-child(2n+1){
    background:var(--light_blue);
}

.overflow_table--rows--data{
    color: var(--white);
    font-size: var(--input_text);
    text-align: center;
}

.overflow_table--rows--data--img{
    width: 26px;
    height: 26px;
}

@media(max-width: 1192px){
    .overflow{
        width: 760px;
        height: 340px;
    }
    
    .overflow_table{  /* Si le quito esto qudara con scroll lateral*/
        width: 750px;
    }
}

@media(max-width: 760px){
    .title_principal{
        margin: 24px auto 44px 0px;
        width: 225px;
    }
    .overflow{
        width: 360px;
    }  
}