:root {
  /*COLORS*/
  --dark_blue: #04081B;
  --blue: #041B41;
  --light_blue_fondo: rgba(36, 62, 100, 0.5);
  --light_blue: rgba(36, 62, 100, 1);
  /*243E64*/
  --opaque-blue: #283C54;
  --grey_: #24242E;
  --white: #fff;

  /*LETTER SIZE */
  --title_text: 3.6rem;
  --recomendations: 1.5rem;
  --label_text: 1.8rem;
  /*Tambien para botones*/
  --input_text: 1.4rem;
  /*Tambien para tablas*/
  --checkbox_text: 1.2rem;
  --table_minimoun_text: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Mono', monospace;
}

body {
  background: url(../../assets/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}

.ventasD__container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 3rem 0;
}

.ventasD__title {
  font-size: var(--title_text);
  color: white;
  align-self: center;
  margin: 24px 0 20px 0;
}

.ventasD__required {
  margin-bottom: 25px;
  font-size: var(--recomendations);
}

.ventasD__form {
  width: 100%;
  padding: 10px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.ventasD__section {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ventasD__form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.ventasD__label {
  font-size: var(--label_text);
}

.ventasD__input {
  font-size: var(--input_text);
  border-radius: 5px;
  border: none;
  width: 25rem;
  height: 3rem;
  padding: 5px;
  opacity: .5;
  transition: .3s linear;
}

.ventasD__input:focus {
  outline: 3px solid var(--opaque-blue);
  opacity: 1;
}

.ventasD__button {
  border: none;
  padding: 7px 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  transition: .3s linear;
  font-size: var(--input_text);
}

.ventasD__button:first-child {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.ventasD__button:first-child:hover {
  color: var(--white);
  background: var(--blue);
}

.ventasD__button-container .ventasD__button:last-child {
  border: 1px solid var(--blue);
  color: var(--white);
  background: var(--blue);
  text-decoration: none;
  text-align: center;
  font-family: 'Fira Mono', monospace;
}

.ventasD__button:last-child:hover {
  color: var(--blue);
  background: var(--white);
}

.ventasD__table-container {
  width: 90%;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  overflow: auto;
}

.ventasD__rows--title {
  background: var(--white);
  color: var(--opaque-blue);
  font-size: var(--input_text);
  font-weight: 700;
  padding: 10px;
}

.ventasD__rows--title:first-child {
  border-radius: 8px 0px 0px 0px;
}

.ventasD__rows--title:last-child {
  border-radius: 0px 8px 0px 0px;
}

.ventasD__rows--data {
  text-align: center;
  padding: 5px;
  background-color: var(--blue);
  font-size: var(--input_text);
}

.ventasD__icon {
  width: 30px;
  margin: 3px 0;
  cursor: pointer;
  transition: .3s linear;
}

.ventasD__icon:hover{
  transform: scale(1.1);
}

.ventasD__total {
  width: 91%;
  margin: 10px 0 0 0;
  font-size: var(--input_text);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
}

.ventasD__text-container {
  padding: 7px 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: var(--input_text);

  border: 1px solid var(--blue);
  color: var(--white);
  background: var(--blue);
}

.ventasD__total .ventasD__button-reporte:hover {
  color: var(--white);
  background: var(--blue);
}

@media(max-width: 1024px) {
  .ventasD__section {
    width: 89%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 40px;
  }

  .ventasD__total {
    justify-content: center;
  }
}

@media(max-width: 600px) {
  .ventasD__container {
    margin: 1rem;
  }

  .ventasD__section {
    width: 100vw;
  }

  .ventasD__form-container {
    width: 80%;
  }

  .ventasD__input {
    width: 100%;
  }

  .ventasD__button-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 80vw;
  }

  .ventasD__button-container .ventasD__button {
    width: 100%;
    padding: 10px 0;
  }

  .ventasD__total {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .ventasD__total .ventasD__button-reporte {
    width: 60%;
  }
}