.inventory {
  width: 100%;
  height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__filter {
    width: 70%;
    margin-bottom: 20px;

    display: flex;
    align-items: end;
    justify-content: end;
    gap: 10px;
  }

  &__form {
    width: 100%;
    @include verticalPosition;
    gap: 20px;

    &-container {
      width: 80%;
      margin-bottom: 20px;
    }
    &-data {
      color: $white;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 25px;
    }
    &-inputs {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 2px;
    }
    &-input {
      border: none;
      border-radius: 3px;
      padding: 10px;
    }
    &-label {
      font-size: 0.9rem;
    }
  }
  &__table {
    width: 100%;
    text-align: center;
    &-container {
      width: 82%;
      color: $white;
      text-align: center;
      margin-bottom: 15px;
      overflow: auto;
    }
    &-row {
      height: 50px;
      font-size: $text;
      &-title {
        padding: 10px 25px;
        background: $white;
        color: $black;
      }
      &-title:first-child {
        border-radius: 8px 0 0 0;
      }
      &-title:last-child {
        border-radius: 0 8px 0 0;
      }
      &-data {
        padding: 10px 25px;
        background: $Medium_blue;
      }
      &-modify {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s linear;
        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }
      }
    }
  }
  @media (max-width: 844px) {
    &__filter{
      align-items: center;
      justify-content: center;
    }
    &__form {
      &-container {
        width: 90%;
      }
      &-data {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
      }
      &-inputs:nth-child(1){
        grid-area: 1 / 1 / 2 / 3;
      }
      &-inputs:nth-child(2){
        grid-area: 1 / 4 / 2 / 6;
      }
      &-inputs:nth-child(3){
        grid-area: 1 / 7 / 2 / 9;
      }
      &-inputs:nth-child(4){
        grid-area: 2 / 2 / 3 / 4;
      }
      &-inputs:nth-child(5){
        grid-area: 2 / 6 / 3 / 8;
      }
    }
    &__table{
      &-container{
        width: 95%;
      }
    }
  }
  @media (max-width: 390px){
    &__filter{
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 56%;
      &>div{
        width: 100%;
      }
    }
    &__form {
      width: 63%;
      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-data {
        display: flex;
        flex-direction: column;
        width: 70%;
      }
      &-input{
        width: 200px;
      }
    }
    &__table{
      &-container{
        width: 98%;
      }
    }
  }
}
