.creation {
  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__form {
    width: 100%;
    @include verticalPosition;
    gap: 20px;
    &-container {
      width: 90%;
      @include verticalPosition;
      color: $white;
    }
    &-box {
      border: 2px solid $background;
      width: 25%;
      padding: 15px 10px;
      border-radius: 10px;
      background: $second-background;
    }
    &-inputs {
      display: flex;
      flex-direction: column;
      gap: 2px;
      width: 270px;
    }
    &-label {
      font-size: 0.9rem;
    }
    &-input {
      border: none;
      border-radius: 3px;
      padding: 10px;
    }
    &-check {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 5px;
      &-container {
        width: 94%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 5px;
      }
      &-label{
        font-size: .6rem;
      }
    }
    &-check:nth-child(1){
      grid-area: 1 / 1 / 2 / 4;
    }
    &-check:nth-child(2){
      grid-area: 1 / 5 / 2 / 8;
    }
    &-check:nth-child(3){
      grid-area: 2 / 1 / 3 / 4;
    }
    &-check:nth-child(4){
      grid-area: 2 / 5 / 3 / 8;
    }
  }
  @media (max-width: 1024px){
    &__form{
      &-box{
        width: 30%;
      }
    }
  }
  @media (max-width: 844px){
    &__container{
      height: 99vh;
    }
    &__form{
      &-box{
        width: 40%;
      }
    }
  }
  @media (max-width: 390px){
    &__form{
      &-box{
        width: 80%;
      }
      &-text{
        font-size: 1rem;
      }
      &-permits{
        width: 84%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 8px;
      }
      &-check{
        &-container{
          display: flex;
          flex-direction: column;
          align-items: start;
        }
        &-label{
          font-size: 1rem;
        }
      }
    }
  }
}
