:root {
  /*COLORS*/
  --dark_blue: #04081B;
  --blue: #041B41;
  --light_blue_fondo: rgba(36, 62, 100, 0.5);
  --light_blue: rgba(36, 62, 100, 1);
  /*243E64*/
  --opaque-blue: #283C54;
  --grey_: #24242E;
  --white: #fff;

  /*LETTER SIZE */
  --title_text: 3.6rem;
  --recomendations: 1.5rem;
  --label_text: 1.8rem;
  /*Tambien para botones*/
  --input_text: 1.4rem;
  /*Tambien para tablas*/
  --checkbox_text: 1.2rem;
  --table_minimoun_text: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Mono', monospace;
}

body {
  background: url(../../assets/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}

.generacionF__container{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 3rem 0;
}

.generacionF__title{
  font-size: var(--title_text);
  color: white;
  align-self: center;
  margin: 24px 0 20px 0;
  text-align: center;
}

.generacionF__filter{
  width: 40%;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.generacionF__search{
  position: relative;
}

.generacionF__input{
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
}

.generacionF__icon{
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.generacionF__search .generacionF__input:focus + .generacionF__icon {
  display: none;
}

.generacionF__button--container{
  display: flex;
  gap: 30px;
}

.generacionF__button{
  border: 1px solid var(--blue);
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  transition: .3s linear;
  font-size: var(--input_text);
}

.generacionF__button:first-child{
  color: var(--white);
  background: var(--blue);
  padding: 7px 30px;
}

.generacionF__button:first-child:hover{
  color: var(--blue);
  background: var(--white);
}

.generacionF__button:nth-child(2):hover{
  color: var(--white);
  background: var(--blue);
}

.generacionF__text{
  text-align: center;
  font-size: var(--input_text);
  margin: 10px 0 20px 0;
}

.generacionF__table--container{
  width: 90%;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.generacionF__row--title{
  background: var(--white);
  color: var(--opaque-blue);
  font-size: var(--input_text);
  font-weight: 700;
  padding: 10px;
}

.generacionF__row--title:first-child{
  border-radius: 8px 0px 0px 0px;
}

.generacionF__row--title:last-child{
  border-radius: 0px 8px 0px 0px;
}

.generacionF__row--data{
  text-align: center;
  padding: 10px;
  background-color: var(--blue);
  font-size: var(--input_text);
}

.generacionF__visualizar{
  width: 90%;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media(max-width: 600px){
  body{
    background-position: top;
  }
}

@media(max-width: 500px){
  .generacionF__filter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .generacionF__button--container{
    flex-direction: column;
    gap: 15px;
    width: 185px;
  }
  .generacionF__visualizar{
    align-items: center;
    justify-content: center;
  }
}