:root{
    /*COLORS*/
    --white: #ffffff;  /*ejemplo utilizar variable var(--white);*/
    --black: #000000;
    --Dark_blue: #243238;
    --Medium_blue: #2d394b;
   

    /*Segunda opcion*/
    --grey: rgb(249, 249, 249) ;
    --strong_grey: 	rgb(217, 217, 217,0.2);
    --opaque_blue: #5e83ba;
    --brigth_blue: #04B2D9;
    

    /*LETTER SIZE */    
    /*para buscar en google fonts: Fira Mono*/
    --x-large: 2.2rem;  /*ejemplo de uso var(--x-large);*/
    --large: 2rem;
    --medium: 1.8rem;
    --small: 1.6rem;
    --x-small:1.4rem;
}
*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; /*esto para que 1 rem sea 10 pixeles*/
    font-family: 'Fira Mono', monospace;
}
.principal_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_forgot{
    background-color: var(--strong_grey);
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 40rem;
    justify-content: space-around;
    border-radius: 1.5rem;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title{
    font-size:var(--x-large);
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.icon{
    border-radius: 80rem;
    width: 10rem;
    position: absolute;
    top: 8rem;
}

.icon:hover{
    width: 12rem;
}

.formulario_inicio{
    display: flex;
    flex-direction: column;
    
}

.input{
    font-size: var(--x-small);
    margin: 1rem 0 2.5rem 0;
    border: none;
    border-radius: 0.8rem;
    padding: 0.8rem;
    width: 22rem;
    text-align: center;
}

.button{
    font-size: var(--small);
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.8rem;
    height: 3rem;
    background-color: var(--brigth_blue);
    font-weight: bold;
}

.button:hover{
    cursor: pointer;
    scale: 1.1;
}

.text{
    color: var(--black);
    font-size: var(--x-small);
    margin: -8rem;    
}

@media(max-width: 78rem) {
    .icon{
        border-radius: 80rem;
        width: 10rem;
        position: absolute;
        top: 3rem;
    }
}