@import "./styles/mixins";
@import "./styles/config";

//Login
@import "../src/pages/login/login";

//PrincipalInterfaz
// @import "../src/pages/principalInterface/principal_interface";
@import "../src/pages/home/principal_interfaz";

//Users
@import "../src/pages/users/userList/user_list";
@import "../src/pages/users/userCreation/user_creation";
@import "../src/pages/users/interfazUsers/interfaz_users";
@import "../src/pages/users/profileEditing/profile_editing";

//Inventory
@import "../src/pages/inventory/inventoryControl/inventory_control";
@import "../src/pages/inventory/inventoryReport/inventory_report";

//Invoice
@import "../src/pages/invoice/invoiceDisplay/invoice_display";
@import "../src/pages/invoice/invoiceGeneration/invoice_generation";
@import "../src//pages/invoice/invoiceHistory/invoice_history";


//Daily Sales
@import "../src/pages/daily-sales/dailySales/daily_sales";
@import "../src/pages/daily-sales/salesReport/sales_report";

//Components
@import "./styles/send";
@import "./styles/filter";
@import "./styles/title";
@import "./styles/total";
@import "./styles/back_button";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fonts;
  font-size: $size;
  background-image: url("./assets/images/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  @media (max-width: 500px) {
    height: 100vh;
  }
}

.app {
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 500px) {
    font-family: $fonts;
    font-size: $size;
    background-image: url("./assets/images/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
