:root {
    /*COLORS*/
    --white: #ffffff;
    /*ejemplo utilizar variable var(--white);*/
    --black: #000000;
    --Dark_blue: #243238;
    --Medium_blue: #2d394b;
    --brigth_blue: #04B2D9;
  
    /*Segunda opcion*/
    --grey: rgba(249, 249, 249, 0.5);
    --strong_grey: rgb(217, 217, 217, 0.2);
    --opaque_blue: #5e83ba;
    --brigth_blue: #04B2D9;
  
    /*LETTER SIZE */
    /*para buscar en google fonts: Fira Mono*/
    --x-large: 2.2rem;
    /*ejemplo de uso var(--x-large);*/
    --large: 2rem;
    --medium: 1.8rem;
    --small: 1.6rem;
    --x-small: 1.4rem;
  }

* {box-sizing: border-box;
    margin:0%;
    padding: 0%;
}

html{
    font-size: 62.5%;
    /*esto para que 1 rem sea 10 pixeles*/
    font-family: 'Fira Mono', monospace;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    place-content:center;
    background: url(../../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.title_text{
color: white;
margin: 30px;
}
.container_data{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 45rem;
    justify-content: space-around;
    border-radius: 1.5rem;
    align-items: center;
    position: relative;
}
.dates{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-position: center center;
    place-content:center;
    padding: 10px;
}
.container_cards-user{
    color: #FFFFFF;
}
.container_cards-text-login{
    color: #FFFFFF;
}
.container_cards-text-name{
    color: #FFFFFF;
}
.container_cards-text-post{
    color: #FFFFFF;
}
.container_cards-text-mail{
    color: #FFFFFF;
}
.button_usuario{
    width: 200px;
    height: 40px;
    align-self: center;
    color:#04B2D9;
    background-color: var(--light_blue);
    border: none;
    border-radius: 5px;
    margin-top: 14px;
    transition: .3s linear;
}
.container_checkbox{
    margin-block: 1px;
    grid-template-columns:auto
}
.checkbox_card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-position: center center;
    place-content:center;
    color: #FFFFFF;
    padding: 20px;
}
.email_cards{
    background-position: center center;
    color: #FFFFFF;
}