:root {
  /*COLORS*/
  --dark_blue: #04081b;
  --blue: #041b41;
  --light_blue_fondo: RGBA(36, 62, 100, 0.5);
  --light_blue: RGBA(36, 62, 100, 1);
  --white: #fff;
  /*243E64*/
  --opaque-blue: #283c54;
  --grey_: #24242e;

  /*LETTER SIZE */
  --title_text: 3.6rem;
  --label_text: 1.8rem;
  /*Tambien para botones*/
  --input_text: 1.4rem;
  /*Tambien para tablas*/
  --checkbox_text: 1.2rem;
  --table_minimoun_text: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
  /*esto para que 1 rem sea 10 pixeles*/
  font-family: "Fira Mono", monospace;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contenedor {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  padding: 20px;
}

.container__cards {
  width: 370px;
  height: 370px;
  padding: 20px;
  background-color: var(--light_blue);
  border-radius: 5px;
  text-decoration: none;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transition: .3s linear;
}

.container__cards:hover {
  transform: scale(1.01);
  -webkit-box-shadow: -7px 7px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 7px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 7px 10px 0px rgba(0, 0, 0, 0.75);
}

.container__cards-logo {
  background-color: var(--light_blue);
  width: 200px;
  height: 200px;
  background-position: center;
}

.container__cards-text {
  color: var(--white);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

@media(max-width: 768px) {
  .contenedor {
    flex-direction: column;
    gap: 20px;
    margin: 50px 0;
  }
}

@media(max-width: 375px) {
  .container__cards{
    width: 300px;
    height: 300px;
    gap: 30px;
  }

  .container__cards-logo{
    width: 150px;
    height: 150px;
  }

  .container__cards-text{
    font-size: 2rem;
  }
}