:root {
  /*COLORS*/
  --white: #ffffff;
  /*ejemplo utilizar variable var(--white);*/
  --black: #000000;
  --Dark_blue: #243238;
  --Medium_blue: #2d394b;


  /*Segunda opcion*/
  --grey: rgba(249, 249, 249, 0.5);
  --strong_grey: rgb(217, 217, 217, 0.2);
  --opaque_blue: #5e83ba;
  --brigth_blue: #04B2D9;


  /*LETTER SIZE */
  /*para buscar en google fonts: Fira Mono*/
  --x-large: 2.2rem;
  /*ejemplo de uso var(--x-large);*/
  --large: 2rem;
  --medium: 1.8rem;
  --small: 1.6rem;
  --x-small: 1.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /*esto para que 1 rem sea 10 pixeles*/
  font-family: 'Fira Mono', monospace;
}

.principal_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/foto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: .8;
}

.container_forgot {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 40rem;
  justify-content: space-around;
  border-radius: 1.5rem;
  align-items: center;

  position: relative;
}

/* .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
} */

.title {
  font-size: var(--x-large);
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.icon {
  width: 10rem;
  border-radius: 50%;
  transition: .3s linear;
  position: absolute;
  top: -5rem;
  left: 13rem;
}

.formulario_inicio {
  display: flex;
  flex-direction: column;
}

.input {
  font-size: var(--x-small);
  margin: 1rem 0 2.5rem 0;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  width: 22rem;
  text-align: center;
}

.button {
  height: 3rem;
  font-size: var(--small);
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--brigth_blue);
  font-weight: bold;
  color: var(--white);
  transition: .3s linear;
}

.button:hover {
  cursor: pointer;
  border: 1px solid var(--brigth_blue);
  background: var(--white);
  color: var(--black);
  -webkit-box-shadow: -5px 5px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 5px -2px rgba(0, 0, 0, 0.75);
}

.text {
  color: var(--black);
  font-size: var(--x-small);
  font-weight: 600;
  margin: -8rem;
  width: 25rem;
  text-align: center;
}

@media(max-width: 320px) {
  .icon {
    left: 11rem;
  }

  .container_forgot{
    margin: .3rem;
  }
}